<nav class="navbar" role="navigation">

  <div class="ui inverted secondary pointing huge stackable menu top_menu" style="background-color:#003049">
    <a class="item" href="/recipes">GoodEats
      <img class="small__logo" src="/assets/favicon/Goodeats_favicon.png" alt="goodeats small logo">
    </a>
    
    <div class="huge right menu">
      <% if(typeof user !== 'undefined') {%>
      <p class="item"><%= user.username %> </p>
        <% } %> 
        <% if (typeof routes !== 'undefined') { %>
        <% routes.forEach((route) => { %> 
      <a class="item" href="<%= route.href %> "> <%= route.title %></a>        
        <% }) } %> 
    </div>
    </div>
</nav>

<div class="top ui inverted " style="background-color:#003049">
  <img class="brand__logo" src="/assets/favicon/goodeats_logo_transparent.png" alt="goodeats logo">
</div>