<nav class="navbar" role="navigation">
    <div class="ui inverted secondary pointing huge menu" style="background-color:#003049">
    <a class="item" href="/recipes">GoodEats
      <img class="small__logo" src="/assets/favicon/Goodeats_favicon.png" alt="goodeats small logo">
    </a>

    <div class="huge right menu">
      <a class="item" href="/recipes/new">New Recipe</a>
      <a class="item" style="color:orange" href="/login">Login</a>
      <a class="item" style="color:#003049 " href="/register">Register</a>
    </div>
    </div>
</nav>

<div class="top ui inverted " style="background-color:#003049">
  <img class="brand__logo" src="/assets/favicon/goodeats_logo_transparent.png" alt="goodeats logo">
</div>