
<nav class="navbar" role="navigation">

  <img class="brand logo" src="/assets/favicon/goodeats_logo_transparent.png" alt="goodeats logo">
  <div class="ui huge menu ">
    <a class="item" href="/recipes">GoodEats
      <img class="small__logo" src="/assets/favicon/Goodeats_favicon.png" alt="goodeats small logo">
    </a>
    
    <div class="right menu">
      <a class="item" href="/recipes/new">New Recipe</a>
      <div class="item">
        <a class="ui orange button" href="/login">Login</a>
      </div>
      <div class="item">
        <a class="ui primary button" href="/register">Register</a>
      </div>
    </div>
  </div>
</nav>