<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head/_head") %>

  <body>

    <%- include("../partials/navbar/_navbar") %>


      <!-- This is the form for new reviews-->


      <div class="ui left floated segment">
        <section class="form">
          <div class="ui attached message">
            <div class="content">
              <div class="ui huge header">Rate Your Favorite Recipe!</div>
            </div>
            <p>Fill out the field below to submit your review!</p>
          </div>
          <form action="/reviews" method="POST" class="ui large form attached fluid segment">
            <div class="field">
              <label for="label">Rating </label>
              <input type="number" name="rating" min="0" max="5" placeholder="0-5">
            </div>
            <div class="field">
              <label>Short Text</label>
              <textarea rows="3" name="content"></textarea>
            </div>
            <div>
              <button class="ui orange button">Save</button>
              <a class="ui black button" href="../recipes/">Discard</a>
            </div>
          </form>
        </section>

        <br><br>
    </div>
        <!-- This is where the reviews will go  -->





<br><br>

      <div class="ui three column grid">
        <% reviews.forEach(review=> { %>
        <div class="column">
          <div class="ui segment">
            <a class="avatar">
              <img class="ui small image centered" src="https://avatarfiles.alphacoders.com/547/54795.jpg"></a>
            <div class="ui center aligned container ">
              <a class="User">Username</a>
              <div class="metadata">
                <div class="date">"Newdatelocalestring"</div>
                <div class="rating">
                  <i class="star icon"></i>
                  5 Faves
                </div>
              </div>
              <div class="text">
                <%= review.content %>
              </div>

              <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="ui red button">Delete</button>

              </form>
            </div>
          </div>
        </div>
        <% }) %>
     
  </body>

</html>