<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head/_head") %>  

<body>

  <%- include("../partials/navbar/_navbar") %> 

<!-- This is where the reviews will go  -->
    
<section class="ui row">
  <% reviews.forEach(review => { %>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/stevie.jpg">
        </a>
        <div class="content">
          <a class="author">Username</a>
          <div class="metadata">
            <div class="date">"Newdatelocalestring"</div>
            <div class="rating">
              <i class="star icon"></i>
              5 Faves
            </div>
          </div>
          <div class="text">
            <%= review.content %>
          </div>
        </div>
      </div>
    </div>  
  <% }) %>


 </section>
 </body>
</html>