
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/reviews"  method ="POST" class="container">
        <div class="ui large star rating" data-rating="3"></div>
        <div class="ui form">
            <div class="field">
              <label>Text</label>
              <textarea></textarea>
            </div>
        </form>
</body>
</html>