<html lang="en">
<head>
  <%- include("./partials/head/_head") %>
</head>
<body>
  <%- include("./partials/navbar/_navbar") %>
  
  <div class="error_404 ui inverted segment" style="background-color: #003049;">
    <h1 id="error_header">ERROR 404</h1>
    <img src="https://media4.giphy.com/media/3EiNbUwMi8zDPxPhlm/giphy.gif" alt="404" class ="error_image">
  </div>

</body>
</html>