@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}

.top_menu {
  padding: 0px 50px 0px 50px;
}

.top.ui.inverted, .ui.primary.inverted {
  background-color: #003049;
  margin: 0px;
  padding: 0px 30px 20px 30px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.top.ui.inverted .brand__logo, .ui.primary.inverted .brand__logo {
  max-width: 50rem;
  padding: 20px;
  margin: 10px;
}

#spotlight_line {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
  border-top: 2px solid #FCBF49;
}

/* navbar */
.navbar {
  margin: 0px 0px 0px 0px;
}
.navbar .ui.menu {
  font-family: "Comfortaa", cursive;
}
.navbar .small__logo {
  padding-top: 5px;
  width: 5rem;
  height: auto;
}

/* Index page */
.spotlight {
  padding: 50px;
  margin: 50px;
}
.spotlight .spotlight__title {
  font-family: "Indie Flower", cursive;
  font-size: 5rem;
  padding-top: 50px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  color: #003049;
  text-shadow: 3px 5px 2px #FCBF49;
}
.spotlight .ui.medium.image {
  position: relative;
}
.spotlight .ui.medium.image .spotlight__image__shadow {
  position: absolute;
  max-width: 26rem;
  bottom: -10%;
  right: -10%;
  z-index: -1;
  filter: blur(8px);
  opacity: 0.9;
}

#spotlight__header {
  padding-top: 20px;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 8rem;
  text-decoration: solid;
  text-shadow: 2px 5px 2px #FCBF49;
}

/* Bottom of Index */
.allRecipes {
  padding: 0px 20px 0px 20px;
}
.allRecipes .ui.inverted.secondary.pointing.menu.bottom__nav {
  margin: 0px;
  background-color: #003049;
  padding: 10px 0px 10px 0px;
}
.allRecipes .ui.grid.bottom__show {
  background-color: #eae2b7;
  margin: 0px;
  padding: 10px 20px 10px 20px;
  border: 5px solid #003049;
}
.allRecipes .ui.grid.bottom__show .ui.column.segment.border_image {
  min-width: 200px;
  max-width: 300px;
  margin: 20px 14px 20px 14px;
  padding: 14px;
}
.allRecipes .ui.grid.bottom__show .ui.blue.ribbon.label {
  margin-bottom: 5px;
}
.allRecipes #recipe_image {
  width: 400px;
  height: auto;
}

/* LOGIN PAGE */
.login_register_body {
  background-color: #003049;
}

#login_form {
  display: grid;
  place-items: center;
}
#login_form .login_container {
  min-width: 800px;
  padding: 20px;
  margin: 20px;
}

/* REGISTER PAGE */
#register_form {
  display: grid;
  place-items: center;
}
#register_form .ui.form.segment {
  min-width: 800px;
  padding: 20px;
  margin: 20px;
}

/* NEW PAGE */
.form {
  padding: 20px;
  margin: 20px;
}

/* SHOW PAGE */
#reviews_container {
  background-color: #eae2b7;
}

.header_bar {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Comfortaa", cursive;
  margin: 50px;
  padding: 50px;
}

.ui.block.header {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Comfortaa", cursive;
}

.ui.grid {
  margin-top: 1px;
}

#instructions_list {
  margin: 20px;
  padding: 20px;
}

.form {
  border: 2px solid #003049;
}

.ui_segment {
  border-radius: 12px;
}

.ui.segment:last-child {
  border: 2px solid #003049;
}

.ui.grid .row {
  color: #003049;
  padding: 20px 100px;
}

.ui.large.image, .ui.large.images .image, .ui.large.images img, .ui.large.images svg {
  overflow: hidden;
  width: 600x;
  padding: 20px;
}

article, aside, footer, header, nav, section {
  display: block;
}

/*# sourceMappingURL=main.css.map */
