@use "../_variables/" as *;

*{
  box-sizing: border-box;
}
.ui.inverted.segment, .ui.primary.inverted.segment{
  background-color: var($prussian-blue);
  margin:0px;
  padding:50px;
}
.top{
  display:flex;
  justify-content: center;

  .brand__logo{
    padding: 20px;
    margin:10px;
  }
}

/* navbar */
.navbar{
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 20px 0px;

  .item{
    padding:0px 10px 0px 10px;
  }

  .small__logo{
    width: 80px;
    height: auto;
  }
}

.spotlight{
  height: 50vh;
}


/* NEW PAGE */
.form{
  padding: 20px;
  margin: 20px;
}