@use "../_variables/" as *;

*{
  box-sizing: border-box;
  // border: 1px solid black;
  }

body{
  font-family: $font-main;
  font-size:12px
}

.ui.inverted, .ui.primary.inverted{
  background-color: $prussian-blue;
  margin:0px;
  padding:30px;
  padding-bottom: 100px;
}
.top{
  display:flex;
  justify-content: center;


  .brand__logo{
    padding: 20px;
    margin:10px;
  }
}

/* navbar */
.navbar{
  margin: 0px 0px 0px 0px;
  
  .ui.menu{
    font-family: $font-main;
  }

  .small__logo{
    width: 80px;
    height: auto;
  }
}
/* Index page */
.spotlight{
  height: 50vh;
  .spotlight__title{
    font-family: $font-header;
    font-size: 8em;
    text-align: center;
    text-overflow: ellipsis;
  }
}
#spotlight__header{
  position:absolute;
  font-family: $font-header;
  font-size: 8em;
}


/* Bottom of Index */
.allRecipes{
  padding: 0px 20px 0px 20px;

  .ui.grid.bottom__show{
    margin:5px;
    padding: 0px 20px 0px 20px;
  }
  .ui.inverted.secondary.pointing.menu.bottom__nav{
  margin:0px;
  padding:0px;
  padding-bottom: 10px;
  }
  .ui.grid.bottom__show{
    background-color: $lemon-meringue;

    .ui.column.segment.border_image{
      min-width:200px;
      max-width:400px;
      margin:20px 14px 20px 14px; 
      padding:14px;
      
    }
    .ui.blue.ribbon.label{
      margin-bottom: 5px;
    }
  }
  #recipe_image{
    width: 400px;
    height: auto;
  }
}

/* LOGIN PAGE */
.login_register_body{
  background-color: $prussian-blue;
}
#login_form{
  display: grid;
  place-items:center;

  .login_container{
    min-width:800px;
    padding: 20px;
    margin: 20px;
  }
}

/* REGISTER PAGE */
#register_form{
  display: grid;
  place-items:center;
  .ui.form.segment{
    min-width:800px;
    padding: 20px;
    margin: 20px;
  }
}
/* NEW PAGE */
.form{
  padding: 20px;
  margin: 20px;
}


/* SHOW PAGE */

.ui.block.header {
  background-color:$maximum-yellow-red;
  color:$prussian-blue;
}

.ui.grid {
  margin-top: 1px;
} 

#instructions_list{
  margin: 20px;
  padding: 20px;
}

.ui_segment {
  border-radius: 12px;
}

.ui.segment:last-child {
  border: 2px solid $lemon-meringue;
}
.ui.block.header {
  padding:20px;
  margin:20px;
}

.ui.grid .row {
  color:$prussian-blue;
  padding: 20px;
}


.ui.large.image, .ui.large.images .image, .ui.large.images img, .ui.large.images svg {
  overflow: hidden;
  width :1000px;
}

article, aside, footer, header, nav, section {
  display: block;
  background-color: $prussian-blue;
}