@use "../_variables/" as *;

*{
  box-sizing: border-box;
}

.ui.center.aligned.segment.spotlight{
  background-color: var($orange);
}

.ui.block.header{
  background-color: var($orange);
}

.small__logo{
  width: 80px;
  height: auto;
}



/* NEW PAGE */
.form{
  padding: 20px;
  margin: 20px;
}